In [6]:
import numpy as np
import pandas as pd

In [2]:
stuperf_df = pd.read_csv('./data/StudentsPerformance.csv')

In [3]:
stuperf_df.shape

(1000, 8)

In [4]:
stuperf_df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [5]:
stuperf_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Nulling values

In [24]:
p = 0.05
mask = np.random.choice([True, False], size = stuperf_df.shape, p = [p, 1 - p])

In [25]:
stuperf_mod_df = stuperf_df.mask(mask)

In [28]:
stuperf_mod_df.isnull().sum()

gender                         47
race/ethnicity                 45
parental level of education    60
lunch                          54
test preparation course        41
math score                     51
reading score                  48
writing score                  49
dtype: int64

In [27]:
stuperf_mod_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,NaN
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,NaN,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0

### Replacing values

In [29]:
stuperf_mod_df.loc[
    stuperf_mod_df.loc[stuperf_mod_df['gender'].isin(['male', 'female'])].sample(frac = .15).index,
    'gender'
] = 'non-binary'

In [31]:
stuperf_mod_df['gender'].value_counts(dropna = False)

female        424
male          386
non-binary    143
NaN            47
Name: gender, dtype: int64

In [30]:
stuperf_mod_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,non-binary,group B,bachelor's degree,standard,none,72.0,72.0,NaN
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,NaN,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0

In [32]:
stuperf_mod_df.to_csv('./data/StudentsPerformance_exam1.csv', index = False)